<div class="status-bar-wrapper" style="display: flex; justify-content: center;">
  <rux-global-status-bar
    include-icon="true"
    [appState]="missionStatus"
    [appStateColor]="appstatecolor"
    [username]="operatorName"
    [appDomain]="missionSector"
    [appName]="command"
    [appVersion]="consoleVersion"
    [menuIcon]="menuicon"
    (rux-menu-icon-click)="onMenuClick()"
  >
  <!-- <rux-menu-item-divider></rux-menu-item-divider> -->

  
  <!-- Navigation Menu -->
    <div class="menu-inline" slot="right-side">
      <!-- Home Button -->
      <rux-button size="small" (click)="navigateTo('')" style="margin-right: 0.5rem;">
        Home
      </rux-button>

      <rux-pop-up open="true" placement="bottom" disable-auto-update="">
        <rux-button slot="trigger" size="small" (click)="navigateTo('/service/')">Service</rux-button>
        <rux-menu>
            <rux-menu-item (click)="navigateTo('/monitor')">Monitor</rux-menu-item>
            <rux-menu-item (click)="navigateTo('/status')">Status</rux-menu-item>
        </rux-menu>
    </rux-pop-up>
    </div>
    <div class="vl" slot="right-side"></div>

    <rux-monitoring-progress-icon slot="right-side" label="Process" [progress]="status" status="off">
      <rux-status part="status-icon" status="off"></rux-status>
    </rux-monitoring-progress-icon>
    <rux-clock slot="right-side"></rux-clock>

    <div class="vl" slot="right-side"></div>

    <div class="tag-stack" slot="right-side">
      <rux-tag [status]="siteA ? 'normal' : 'critical'" [ngStyle]="{ color: siteA ? 'limegreen' : 'red' }">A: {{ siteA ? 'Online' : 'Offline' }}</rux-tag>
      <rux-tag [status]="siteB ? 'normal' : 'critical'" [ngStyle]="{ color: siteB ? 'limegreen' : 'red' }">B: {{ siteB ? 'Online' : 'Offline' }}</rux-tag>
    </div>
  </rux-global-status-bar>
</div>

<router-outlet></router-outlet>

<!-- Pop up box for cookie  -->
<!-- Only show dialog if showDialog is true -->
<div *ngIf="showDialog">
  <rux-dialog
    #dialogRef
    open="true"
    header="Welcome"
    [attr.message]="dialogMessage"
    confirm-text="Confirm"
    deny-text=""
  ></rux-dialog>
</div>

